<div class="flex items-center justify-start gap-4">
  <img
    src="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png"
    width="130"
    alt=""
  />
  <div class="text-left">
    <h3 class="text-xl text-white font-semibold">
      AWS Certified Cloud Practitioner
    </h3>
    <p class="text-white">Amazon Web Services (AWS)</p>
    <p>Expedición dic. 2016 - Vencimiento: jan. 2023</p>
    <span>ID Credencial: 4eb108c8-8f84-44b0-abf9-fc0192570949</span>
    <button
      class="border border-gray-300 px-4 py-2 rounded-full my-4 hover:bg-gray-700"
      >Mostrar credencial</button
    >
  </div>
</div>