---
const { image, title, company, date, status } = Astro.props;

const logos = {
  platzi:
    "https://yt3.googleusercontent.com/rwU607PYF9jK9QL2I85SdfCLVZJGGsxWukuF_LxD0PepnqEIrFVg3W85FOVPDmWdMN1SxyJ7Xi8=s900-c-k-c0x00ffffff-no-rj",
  openwebinars:
    "https://yt3.googleusercontent.com/vFwKDqyXiZWFugP04tS8-Ben7CY7Q828l9lE7P-bkt7mhGzwW32PjM_W-WRR05BP_ezd0vSWBQ=s900-c-k-c0x00ffffff-no-rj",
  microsoft:
    "https://media.licdn.com/dms/image/C560BAQGXFnlAv3dOQQ/company-logo_200_200/0/1610742569405?e=2147483647&v=beta&t=RBvbJQ4M607lbvPIecP7DT53kjRPceBsXM1pRrC9ZaA",
};

const companyLogo = logos[company.toLowerCase() as keyof typeof logos];
---

<div class="flex items-center justify-start gap-4">
  <img src={companyLogo} width="100" alt="" />
  <div class="text-left">
    <h3 class="text-xl text-white font-semibold">{title}</h3>
    <p class="text-white">{company}</p>
    <p>Expedición {date}</p>
    <!-- <span class="text-xs">ID Credencial: 4eb108c8-8f84-44b0-abf9-fc0192570949</span> -->
    {
      status === "pending" && (
        <div class="border border-yellow-300 px-4 py-2 mt-2 inline-flex rounded-full cursor-not-allowed  bg-yellow-300 text-black ">
          Pendiente
        </div>
      )
    }
    <!-- <button
      class="border border-gray-300 px-4 py-2 rounded-full my-4 hover:bg-gray-700"
      >Mostrar credencial</button
    > -->
    <!-- <div>
      <span class="bg-red-300 text-black px-2 rounded-full font-medium"
        >backend</span
      >
      <span class="bg-red-300 text-black px-2 rounded-full font-medium"
        >nest.js</span
      >
    </div> -->
  </div>
</div>
