---
import CertificateModal from "../shared/CertificateModal.astro";
---

<section>
  <h3
    class="text-sm text-black/70 dark:text-white/50 my-3 font-medium uppercase"
  >
    Education
  </h3>
  <div
    class="rounded-lg card-base disable-padding bg-gray-900 overflow-x-hidden transition-colors cursor-pointer"
  >
    <ol class="mt-6">
      <li
        class="flex gap-4 py-4 px-5 hover:bg-zinc-800 hover:rounded-lg"
        onclick="
        certificateModal.showModal()
"
      >
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/unab.png" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Universidad Andrés Bello, Chile
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">
            Bachelor of Engineering, Computer Engineering
          </h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2021">2023</time>
            <span>-</span>
            <time datetime="2023">Present</time>
          </div>
        </div>
      </li>
      <li class="flex gap-4 py-4 px-5 hover:bg-zinc-800 hover:rounded-lg">
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/utfsm.png" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Universidad Técnica Federico Santa María, Chile
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">
            Technichian in Computer Science
          </h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2021">2018</time>
            <span>-</span>
            <time datetime="2023">2021</time>
          </div>
        </div>
      </li>
    </ol>
  </div>

  <CertificateModal />

  <!-- <h3
    class="text-sm text-black/70 dark:text-white/50 my-3 font-medium uppercase"
  >
    Certifications
  </h3>
  <div
    class="rounded-lg card-base bg-gray-900 overflow-x-hidden transition-colors p-4 cursor-pointer"
  >
    <ol class="mt-6 space-y-4">
      <li>
        <div class="flex gap-4">
          <div
            class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
          >
            <img src="/img/logos/unab.png" />
          </div>
          <div class="flex flex-wrap flex-auto gap-x-2">
            <h5
              class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
            >
              AWS Certified Cloud Practitioner
            </h5>
            <h6 class="text-xs text-neutral-700 dark:text-zinc-300">
              Amazon Web Services
            </h6>
            <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
              <time datetime="2021">2023</time>
              <span>-</span>
              <time datetime="2023">Present</time>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-end mt-4 text-xs">
          <button class="bg-slate-800 px-2 py-1 rounded-full">Mostrar credencial</button>
        </div>
      </li>
    </ol>
  </div> -->
</section>
