---
import experienceDetail from "../../data/experience.json";
import ExperienceModal from "../shared/ExperienceModal.astro";
---

<section>
  <h3
    class="text-sm text-black/70 dark:text-white/50 my-3 font-medium uppercase"
  >
    Experience
  </h3>
  <div
    class="rounded-lg card-base disable-padding bg-gray-900 overflow-x-hidden transition-colors"
  >
    <ol class="mt-6 space-y-5">
      <li
        class="flex gap-4 px-4 py-2 my-4 cursor-pointer hover:bg-zinc-800 hover:rounded-lg"
        onclick="modalApside.showModal()"
      >
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/apside.jpeg" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Software Engineer
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">Apside</h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2021">jun. 2022</time>
            <span>-</span>
            <time datetime="2023">Present</time>
          </div>
        </div>
      </li>

      <li
        class="flex gap-4 px-4 py-2 my-4 cursor-pointer hover:bg-zinc-800 hover:rounded-lg"
        onclick="modalPckz.showModal()"
      >
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/pckz.gif" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Fullstack Engineer
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">Pckz</h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2021">mar. 2021</time>
            <span>-</span>
            <time datetime="2023">jun. 2022</time>
          </div>
        </div>
      </li>

      <li
        class="flex gap-4 px-4 py-2 my-4 cursor-pointer hover:bg-zinc-800 hover:rounded-lg"
        onclick="modalAngloAmerican.showModal()"
      >
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/anglo-american.png" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Software Developer
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">
            Anglo American
          </h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2021">jan. 2021</time>
            <span>-</span>
            <time datetime="2023">mar. 2021</time>
          </div>
        </div>
      </li>
    </ol>
  </div>

  <h3
    class="text-sm text-black/70 dark:text-white/50 my-3 font-medium uppercase"
  >
    Startup & Freelance
  </h3>
  <div
    class="rounded-lg card-base bg-gray-900 overflow-x-hidden transition-colors p-4 cursor-pointer"
  >
    <ol class="mt-6 space-y-5">
      <li class="flex gap-4">
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/apside.jpeg" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Project management for mining company
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">
            Fullstack Engineer
          </h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2023">2023</time>
          </div>
        </div>
      </li>

      <li class="flex gap-4">
        <div
          class="relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
          <img src="/img/logos/pckz.gif" />
        </div>
        <div class="flex flex-wrap flex-auto gap-x-2">
          <h5
            class="flex-none w-full text-sm font-medium text-neutral-900 dark:text-white"
          >
            Prtal - SaaS for the proposals management
          </h5>
          <h6 class="text-xs text-neutral-700 dark:text-zinc-300">
            Senior Fullstack Engineer & Software Architect
          </h6>
          <div class="ml-auto text-xs text-neutral-700 dark:text-zinc-300">
            <time datetime="2022">2022</time>
            <span>-</span>
            <time datetime="2023">2023</time>
          </div>
        </div>
      </li>
    </ol>
  </div>

  <ExperienceModal
    companyName="Apside"
    companyUrl="https://apside.cl/"
    companyLogo="apside.jpeg"
    companyDescription="Empresa chilena de desarrollo de software con amplia experiencia en el desarrollo de proyectos, una fuerte orientación al cliente y un alto nivel técnico."
    detail={experienceDetail["apside"].detail}
    techs={experienceDetail["apside"].techs}
    carousel={experienceDetail["apside"].carousel}
  />
  <ExperienceModal
    companyName="Pckz"
    companyUrl="https://pckz.cl/"
    companyLogo="pckz.gif"
    companyDescription="Empresa chilena de desarrollo de software con amplia experiencia en el desarrollo de proyectos, una fuerte orientación al cliente y un alto nivel técnico."
    detail={experienceDetail["pckz"].detail}
    techs={experienceDetail["pckz"].techs}
    carousel={experienceDetail["pckz"].carousel}
  />

  <ExperienceModal
    companyName="Anglo American"
    companyUrl="https://chile.angloamerican.com/"
    companyLogo="anglo-american.png"
    companyDescription="Empresa minera líder a nivel mundial especializada en las ventas de cobre y adheridos, con sede en Chile. "
    detail={experienceDetail["anglo_american"].detail}
    techs={experienceDetail["anglo_american"].techs}
    carousel={experienceDetail["anglo_american"].carousel}
  />
</section>
