---
import { Icon } from "astro-icon";
---

<div>
  <section class="hero_section" id="hero">
    <div class="grid grid-cols-2 py-10 mx-auto text-center">
      <div class="flex flex-col items-start justify-center gap-6">
        <h1
          class="hero-title text-7xl flex justify-start items-start text-left font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-teal-400 to-purple-600"
        >
          Build web and mobile apps
        </h1>
        <div class="flex gap-4">
          <h1>Software Engineer</h1>
          <h1>Full-stack Engineer</h1>
          <h1>Freelance</h1>
        </div>
        <p class="text-base text-neutral-700 dark:text-zinc-400 text-left">
          Software developer based in Santiago CL, specializing in build
          (and occasionally designing) excepcional digital experiencies.
          Currently, Focused on building accesible, user-friendly and
          high-performing websites at.
        </p>
      </div>
      <div class="items-center justify-center hidden lg:flex">
        <img
          class="absolute top-28 rounded-full bottom-0 z-40"
          src="/img/profile.jpeg"
        />
        <img
          src="/img/hero/circle.png"
          alt="Dylan's avatar"
          width="520px"
          class="rounded-full"
        />
      </div>
    </div>
  </section>
</div>
