<section>
  <h3
    class="text-sm text-black/70 dark:text-white/50 text-lg font-medium uppercase"
  >
    Me
  </h3>
  <div class="mt-4 grid gap-4 md:grid-cols-2">
    <a
      href="/me/repos"
      class="rounded-lg card-base overflow-x-hidden transition-colors p-4 cursor-pointer hover:bg-zinc-800"
    >
      <div class="overflow-x-hidden leading-relaxed space-y-2">
        <h2 class="font-medium text-black dark:text-white truncate">
          Repositories
        </h2>
        <p class="text-black/50 dark:text-white/30 text-sm line-clamp-2">
          Want to see what I'm working on? Check out my repositories on
        </p>
      </div>
    </a>
    <a
      href="/me/contact"
      class="rounded-lg card-base overflow-x-hidden transition-colors p-4 cursor-pointer hover:bg-zinc-800"
    >
      <div class="overflow-x-hidden leading-relaxed space-y-2">
        <h2 class="font-medium text-black dark:text-white truncate">Contact</h2>
        <p class="text-black/50 dark:text-white/30 text-sm line-clamp-2">
          Contact me via email or social media.
        </p>
      </div>
    </a>
  </div>
</section>
