<section>
  <h3
    class="text-sm text-black/70 dark:text-white/50 text-lg font-medium uppercase"
  >
    Pages
  </h3>
  <div class="mt-4 grid gap-4 md:grid-cols-2">
    <a
      href="/projects"
      class="rounded-lg card-base bg-gray-900 overflow-x-hidden transition-colors p-4 cursor-pointer"
    >
      <div class="overflow-x-hidden leading-relaxed space-y-2">
        <h2 class="font-medium text-black dark:text-white truncate">
          Projects
        </h2>
        <p class="text-black/50 dark:text-white/30 text-sm line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          doloremque facilis, officiis officia ad voluptates nesciunt
          recusandae, labore impedit incidunt ipsam beatae expedita rerum. Rem
          nam fuga fugit asperiores itaque.
        </p>
      </div>
    </a>
  </div>
</section>
