---
import { Icon } from "astro-icon";
---

<section class="mt-10">
  <h3
    class="text-sm text-black/70 dark:text-white/50 text-lg font-medium uppercase"
  >
    Technologies I Use
  </h3>

  <div class="flex flex-col space-y-6 mt-8">
    <section>
      <h5
        class="text-sm uppercase text-black/50 pb-2 mb-4 border-b border-black/5 dark:text-white/30 dark:border-white/5"
      >
        Development
      </h5>
      <div
        class="grid md:grid-cols-3 grid-cols-1 lg:grid-cols-4 gap-x-2 gap-y-2"
      >
        <div class="card-base rounded-lg flex items-center space-x-4">
          <div class="rounded-lg flex">
            <Icon name="logos:javascript" width="20" height="20" />
          </div>
          <span class="flex-1 truncate text-sm">Vue.js</span>
        </div>

        <div class="card-base rounded-lg flex items-center space-x-4">
          <div class="rounded-lg flex">
            <Icon name="logos:vue" width="20" height="20" />
          </div>
          <span class="flex-1 truncate text-sm">Vue.js</span>
        </div>

        <div class="card-base rounded-lg flex items-center space-x-4">
          <div class="rounded-lg flex">
            <Icon name="logos:html-5" width="20" height="20" />
          </div>
          <span class="flex-1 truncate text-sm">HTML5</span>
        </div>
        <div class="card-base rounded-lg flex items-center space-x-4">
          <div class="rounded-lg flex">
            <Icon name="logos:tailwindcss-icon" width="20" height="20" />
          </div>
          <span class="flex-1 truncate text-sm">Tailwind CSS</span>
        </div>

        <div class="card-base rounded-lg flex items-center space-x-4">
          <div class="rounded-lg flex">
            <Icon name="logos:nodejs" width="20" height="20" />
          </div>
          <span class="flex-1 truncate text-sm">Node.js</span>
        </div>
      </div>

      <section>
        <h5
          class="text-sm uppercase text-black/50 pb-2 mb-4 border-b border-black/5 dark:text-white/30 dark:border-white/5 mt-5"
        >
          Apps
        </h5>
        <div
          class="grid md:grid-cols-3 grid-cols-1 lg:grid-cols-4 gap-x-2 gap-y-2"
        >
          <div class="card-base rounded-lg flex items-center space-x-4">
            <div class="rounded-lg flex">
              <Icon name="vscode-icons:file-type-vscode" width="20" height="20" />
            </div>
            <span class="flex-1 truncate text-sm">VS Code</span>
          </div>
          <div class="card-base rounded-lg flex items-center space-x-4">
            <div class="rounded-lg flex">
              <Icon name="logos:figma" width="20" height="20" />
            </div>
            <span class="flex-1 truncate text-sm">Figma</span>
          </div>
        </div>
      </section>

      <section>
        <h5
          class="text-sm uppercase text-black/50 pb-2 mb-4 border-b border-black/5 dark:text-white/30 dark:border-white/5 mt-5"
        >
          Services
        </h5>
        <div
          class="grid md:grid-cols-3 grid-cols-1 lg:grid-cols-4 gap-x-2 gap-y-2"
        >
          <div class="card-base rounded-lg flex items-center space-x-4">
            <div class="rounded-lg flex">
              <Icon name="uil:github" width="20" height="20" />
            </div>
            <span class="flex-1 truncate text-sm">Github</span>
          </div>
          <div class="card-base rounded-lg flex items-center space-x-4">
            <div class="rounded-lg flex">
              <Icon name="logos:firebase" width="20" height="20" />
            </div>
            <span class="flex-1 truncate text-sm">Firebase</span>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>
