---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Education from "../components/education/Education.astro";
import Certification from "../components/education/Certification.astro";
import Course from "../components/education/Course.astro";
---

<Layout title="About">
  <div>
    <div class="relative w-full">
      <div class="absolute" style="left: 50%; bottom: 0">
        <Icon name="emojione:books" width="40" height="40" />
      </div>
      <div class="absolute" style="left: 55%">
        <Icon name="emojione:books" width="40" height="40" />
      </div>
      <div class="absolute" style="left: 45%; top: 40px">
        <Icon name="flat-color-icons:mind-map" width="40" height="40" />
      </div>
    </div>

    <div class="flex flex-col gap-10 py-40 mx-auto text-center">
      <!-- <h1 class="text-4xl font-semibold text-center text-white">
        My Education
      </h1> -->

      <div>
        <h2 class="text-2xl text-white mb-4 font-semibold">Educación</h2>

        <div class="grid grid-cols-2 gap-4 w-full">
          <Education
            title="Licenciatura en Ingeniería"
            institution="unab"
            status="pending"
            period="2023"
          />
          <Education
            title="Ingeniería en Computación e Informática"
            institution="unab"
            status="pending"
            period="2023"
          />
          <Education
            title="Técnico Universitario en Informática"
            institution="utfsm"
            status="completed"
            period="2018 - 2021"
          />
        </div>
      </div>

      <div>
        <h2 class="text-2xl text-white mb-4 font-semibold">
          Licencias y certificaciones
        </h2>

        <div class="grid grid-cols-2 w-full">
          <Certification
            company="IBM"
            image="https://images.credly.com/size/680x680/images/cb1ce238-8c69-4955-b9db-97f770de6651/image.png"
            title="IBM Artificial Intelligence Practitioner Certificate"
            status="pending"
          />
        </div>
      </div>

      <div>
        <h2 class="text-2xl text-white mb-4 font-semibold">Otros cursos</h2>

        <div class="grid grid-cols-3 w-full gap-4">
          <Course
            title="Curso de Backend con NestJS"
            company="Platzi"
            date="jul. 2023"
            status="completed"
            credentialUrl="https://platzi.com/p/dcgxp/curso/2272-nestjs/diploma/detalle/"
          />
          <Course
            title="Curso de NestJS: Programación Modular, Documentación con Swagger y Deploy"
            company="Platzi"
            date="jul. 2023"
            status="completed"
            credentialUrl="https://platzi.com/p/dcgxp/curso/2274-nestjs-modular/diploma/detalle/"
          />
          <Course
            title="Curso de Introducción a AWS: Fundamentos de Cloud Computing"
            company="Platzi"
            date="apr. 2023"
            status="completed"
            credentialUrl="https://platzi.com/p/dcgxp/curso/2731-aws-fundamentos/diploma/detalle/"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
