---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Education from "../components/education/Education.astro";
import Certification from "../components/education/Certification.astro";
import Course from "../components/education/Course.astro";
---

<Layout title="About">
  <div>
    <div class="relative w-full">
      <div class="absolute" style="left: 50%; bottom: 0">
        <Icon name="emojione:glowing-star" width="40" height="40" />
      </div>
      <div class="absolute" style="left: 55%">
        <Icon name="fxemoji:rocket" width="40" height="40" />
      </div>
      <div class="absolute" style="left: 45%; top: 40px">
        <Icon name="fxemoji:rocket" width="40" height="40" />
      </div>
    </div>

    <div class="flex flex-col gap-10 py-40 mx-auto text-center">
      <!-- <h1 class="text-4xl font-semibold text-center text-white">
        My Education
      </h1> -->

      <div>
        <h2 class="text-2xl text-white mb-4 font-semibold">Educación</h2>

        <div class="grid grid-cols-2 gap-4 w-full">
          <Education
            title="Licenciatura en Ingeniería"
            institution="unab"
            status="pending"
          />
          <Education
            title="Ingeniería en Computación e Informática"
            institution="unab"
            status="pending"
          />
          <Education
            title="Técnico Universitario en Informática"
            institution="utfsm"
          />
        </div>
      </div>

      <div>
        <h2 class="text-2xl text-white mb-4 font-semibold">
          Licencias y certificaciones
        </h2>

        <div class="grid grid-cols-2 w-full">
          <Certification
            company="AWS"
            image="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png"
            title="AWS Certified Cloud Practitioner"
            status="pending"
          />
        </div>
      </div>

      <div>
        <h2 class="text-2xl text-white mb-4 font-semibold">Otros cursos</h2>

        <div class="grid grid-cols-3 w-full gap-4">
          <Course
            title="Fundamentos profesionales para análisis de datos"
            company="Microsoft"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de FastAPI: Fundamentos, Path Operations y Validaciones"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de FastAPI: Introducción, Operaciones, Validaciones y Autenticación"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Fundamentos de Python"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Python: Comprehensions, Funciones y Manejo de Errores"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Introducción a AWS: Cómputo, Almacenamiento y Bases de Datos"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Introducción a AWS: Fundamentos de Cloud Computing"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Backend con NestJS"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Node.js: Base de Datos con MongoDB y WebSockets"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso Práctico de AWS: Cómputo con EC2"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de Backend con Node.js: API REST con Express.js"
            company="Platzi"
            date="jul. 2023"
            status="pending"
          />
          <Course
            title="Curso de AWS CloudFormation"
            company="OpenWebinars"
            date="jul. 2023"
            status="pending"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
