---
import { Icon } from "@iconify/vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Educación">
  <div
    class="flex flex-col items-center justify-center w-3/4 gap-10 py-40 mx-auto text-center"
  >
    <h1 class="text-4xl font-semibold text-center text-white">My Education</h1>

    <div>
      <div class="flex items-center justify-start gap-10">
        <div>
          <img width="140" src="img/logos/utfsm.png" />
        </div>
        <div class="text-left">
          <h2 class="text-2xl text-white">
            Universidad Técnica Federico Santa María
          </h2>
          <span class="text-lg text-gray-600">
            Técnico Universitario en Informática
          </span>
          <div class="flex justify-end mt-5">
            <button
              class="flex items-center justify-center px-3 py-1 font-light text-black bg-gray-200 rounded-full hover:bg-gray-300"
            >
              Mostrar credencial
              <Icon class="mx-2" name="bx:link-external" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <h1 class="my-5 text-4xl font-semibold text-center text-white">
      Cetificaciones y Credenciales
    </h1>

    <div>
      <div class="flex items-center justify-start gap-10">
        <div>
          <img width="140" src="img/logos/utfsm.png" />
        </div>
        <div class="text-left">
          <h2 class="text-2xl text-white">
            Universidad Técnica Federico Santa María
          </h2>
          <span class="text-lg text-gray-600">
            Técnico Universitario en Informática
          </span>
          <div class="flex justify-end mt-5">
            <button
              class="flex items-center justify-center px-3 py-1 font-light text-black bg-gray-200 rounded-full hover:bg-gray-300"
            >
              Mostrar credencial
              <Icon class="mx-2" name="bx:link-external" />
            </button>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-start gap-10 mt-5">
        <div>
          <img width="140" src="img/logos/utfsm.png" />
        </div>
        <div class="text-left">
          <h2 class="text-2xl text-white">
            Universidad Técnica Federico Santa María
          </h2>
          <span class="text-lg text-gray-600">
            Técnico Universitario en Informática
          </span>
          <div class="flex justify-end mt-5">
            <button
              class="flex items-center justify-center px-3 py-1 font-light text-black bg-gray-200 rounded-full hover:bg-gray-300"
            >
              Mostrar credencial
              <Icon class="mx-2" name="bx:link-external" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
