---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Pages from "../components/sections/Pages.astro";
import Me from "../components/sections/Me.astro";
import Experience from "../components/sections/Experience.astro";
import Education from "../components/sections/Ecucation.astro";
import Technologies from "../components/sections/Technologies.astro";
---

<Layout title="Portafolio">
  <Hero />
  <!-- <Pages /> -->
  <Me />
  <div class="grid grid-cols-1 gap-4 my-5 xl:grid-cols-2">
    <Experience />
    <Education />
  </div>
  <Technologies />
</Layout>
