---
import { Icon } from "astro-icon";
---

<div>
  <section>
    <h1 class="text-4xl font-medium text-left text-white">Contact</h1>

    <div class="grid grid-cols-2 gap-4">
      <div class="px-8 py-10 my-5" style="background: #d9d9d9">
        <h1 class="text-4xl font-bold text-left text-gray-800">
          Building digital products for the wide web
        </h1>
        <p class="my-5 text-xl text-gray-600 font-extralight">
          Specialized in fullstack development with the ability to take on a
          general idea and carry it on from initial planning to design,
          development all the way to marketing.
        </p>
      </div>

      <div class="px-8 py-10 my-5">
        <h1 class="text-4xl font-bold text-left text-white">
          Have something in mind ?
        </h1>
        <p class="my-5 text-xl text-white font-extralight">
          I’m not really active on Twitter but you can stay in touch with me on
          Linkedin. I post some articles on my Blog nd some experiments and open
          source on GitHub.
        </p>

        <span class="text-3xl font-medium text-gray-400">diego@dcgx.dev</span>
      </div>
    </div>

    <div class="flex items-center justify-center gap-10 mt-10">
      <div
        class="flex px-6 py-5 rounded-2xl"
        style="width: auto; background: #19191a"
      >
        <div class="flex items-center justify-center pl-2 pr-4">
          <Icon width="60" color="white" name="akar-icons:cart" />
        </div>
        <div class="flex items-center">
          <span class="text-4xl font-light text-gray-300">Website</span>
        </div>
      </div>
      <div
        class="flex px-6 py-5 rounded-2xl"
        style="width: auto; background: #19191a"
      >
        <div class="flex items-center justify-center pl-2 pr-4">
          <Icon width="60" color="white" name="akar-icons:cart" />
        </div>
        <div class="flex items-center">
          <span class="text-4xl font-light text-gray-300">Website</span>
        </div>
      </div>
      <div
        class="flex px-6 py-5 rounded-2xl"
        style="width: auto; background: #19191a"
      >
        <div class="flex items-center justify-center pl-2 pr-4">
          <Icon width="60" color="white" name="akar-icons:cart" />
        </div>
        <div class="flex items-center">
          <span class="text-4xl font-light text-gray-300">Website</span>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-center max-w-xl mx-auto text-center my-52"
    >
      <h1 class="text-5xl font-medium text-left text-white">
        Make the space bigger
      </h1>
      <p class="max-w-xl my-5 text-xl text-gray-400 font-extralight">
        Get updates on what I do web development related. Early access to
        articles, easy-to-follow guides & tutorials, challenges, along with some
        other resources I'm reading and other stuff I think you'd enjoy...
      </p>
      <input
        placeholder="diego@dcgx.dev"
        class="w-full px-5 py-2 bg-transparent border rounded-sm"
      />
    </div>
  </section>
</div>
