<header class="py-3 w-100">
  <div class="grid grid-cols-2 px-8 py-8">
    <div>
      <a href="/">dcgx</a>
    </div>
    <div class="flex justify-end gap-8">
      <a
        href="/about"
        class="text-lg font-light text-white cursor-pointer hover:text-violet-500 hover:font-medium"
      >
        About</a
      >
      <a href="/projects" class="text-lg text-white">Work</a>
      <a href="/education" class="text-lg text-white">Education</a>
      <a class="text-lg text-white">Resume</a>
      <a class="text-lg text-white">Search</a>
    </div>
  </div>
</header>
