<header class="header">
  <div class="header-content grid grid-cols-2 px-8 py-8 z-50">
    <div>
      <a href="/" class="text-lg font-semibold text-white">Diego Castillo</a>
    </div>
    <div class="flex gap-3 h-10">
      <a
        href="/about"
        class="text-md font-light py-2 px-3 text-white cursor-pointer border border-transparent hover:border hover:border-white hover:rounded-full hover:transition hover:ease-in delay-75"
      >
        About me</a
      >
      <div class="flex items-center">
        <a
          href="/work"
          class="text-md font-light py-2 px-3 text-white cursor-pointer border border-transparent hover:border hover:border-white hover:rounded-full hover:transition hover:ease-in delay-75"
        >
          Work</a
        >
      </div>
      <div class="flex items-center">
        <a
          href="/projects"
          class="text-md font-light py-2 px-3 text-white cursor-pointer border border-transparent hover:border hover:border-white hover:rounded-full hover:transition hover:ease-in delay-75"
        >
          Projects</a
        >
      </div>
      <div class="flex items-center">
        <a
          href="https://read.cv/dcgx"
          target="_blank"
          class="text-md font-light py-2 px-3 text-white cursor-pointer border border-transparent hover:border hover:border-white hover:rounded-full hover:transition hover:ease-in delay-75"
        >
          Résumé</a
        >
      </div>

      <div class="flex items-center">
        <button
          class="cursor-pointer text-md text-white font-medium px-4 py-2 rounded-full bg-purple flex items-center bg-purple-hover"
        >
          Contact
        </button>
      </div>
    </div>
  </div>
</header>
