---
import { Icon } from "astro-icon";
---

<div>
  <section class="hero_section" id="hero">
    <div class="grid grid-cols-2 py-40 mx-auto text-center">
      <div class="flex flex-col items-start justify-center gap-6">
        <h1
          class="text-7xl  flex justify-start items-start text-left font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-teal-400 to-purple-600"
        >
          I build web and mobile apps
        </h1>
        <div class="flex gap-4">
          <h1>Software Engineer</h1>
          <h1>Full-stack Engineer</h1>
          <h1>Freelance</h1>
        </div>
        <p class="text-xl font-light text-left text-gray-300">
          I`m a software developer based in Santiago CL, specializing in build
          (and occasionally designing) excepcional digital experiencies.
          Currently, I´m focused on building accesible, user-friendly and
          high-performing websites at <a
            href="https://apside.cl/"
            target="_blank"
            class="text-blue-500">@Apside</a
          >.
        </p>
        <div class="flex gap-5">
          <a
            href="/resume.pdf"
            target="_blank"
            class="cursor-pointer text-md text-white font-medium px-4 py-2 rounded-full bg-purple flex items-center bg-purple-hover"
          >
            <Icon
              name="system-uicons:file-download"
              width="24px"
              class="mr-1"
            />
            Curriculum
          </a>
          <button
            class="cursor-pointer text-md text-white font-medium px-4 py-2 rounded-full bg-sky-600 flex items-center hover:bg-sky-700"
          >
            <Icon name="ic:round-work-outline" width="24px" class="mr-1" />
            Experience
          </button>
        </div>
      </div>
      <div class="items-center justify-center hidden lg:flex">
        <img
          class="absolute top-28 rounded-full bottom-0 z-40"
          src="/img/profile.jpeg"
        />
        <img
          src="/img/hero/circle.png"
          alt="Dylan's avatar"
          width="520px"
          class="rounded-full"
        />
      </div>
    </div>
  </section>
</div>
