<!-- <template>
    <section>
      <h1 class="text-5xl font-medium text-center text-white">
        Other Noteworthy Projects
      </h1>
  
      <div class="grid grid-cols-3 gap-10 my-10">
        <div
          v-for="project in notFeaturedProjects"
          :key="project.key"
          class="p-5 my-4 rounded-lg"
          style="background: #19191a"
        >
          <div class="flex items-center justify-between">
            <div>
              <Icon
                icon="akar-icons:folder"
                color="white"
                width="32"
                height="32"
              />
            </div>
            <div class="flex gap-3">
              <a
                class="cursor-pointer"
                target="__blank"
                :href="project.repositoryLink"
              >
                <Icon
                  v-if="project.repositoryProvider === 'github'"
                  icon="akar-icons:github-fill"
                  color="white"
                  width="32"
                  height="32"
                />
              </a>
              <a class="cursor-pointer" target="__blank" :href="project.website">
                <Icon
                  icon="bx:link-external"
                  color="white"
                  width="32"
                  height="32"
                />
              </a>
            </div>
          </div>
          <div class="my-4">
            <span class="text-2xl font-semibold text-white">
              {{ project.name }}
            </span>
            <p class="my-2 text-gray-200 font-extralight">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste
              tempore consequatur inventore perferendis fugit aliquid voluptas
              alias asperiores ipsum magnam expedita, cupiditate quidem, dicta
              aperiam delectus ipsa voluptate doloremque.
            </p>
          </div>
        </div>
      </div>
    </section>
  </template>
  
  <script setup>
  import { computed } from "vue";
  import { useProjectsStore } from "@/stores/projects";
  import { Icon } from "@iconify/vue";
  
  const projectsStore = useProjectsStore();
  const notFeaturedProjects = computed(() =>
    projectsStore.projects.filter((p) => !p.featured)
  );
  </script>
   -->