<section class="grid grid-cols-2 gap-3">
  <article class="project_thumbnail cursor-pointer">
    <a class="project_access" href=""></a>
    <div class="project_artwork" aria-hidden="true">
      <video playsinline loop
        ><source
          src="https://lau.work/assets/design-work/balance/app/balance-bip-full.webm"
          type="video/webm"
        /><source
          src="https://lau.work/assets/design-work/balance/app/balance-bip-full.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="project_info">
      <span class="text-gray-400 text-sm">Since 2023</span>
      <h3 class="text-gray-100">Balance — Your transit cards in one place</h3>
    </div>
  </article>
  <article class="project_thumbnail cursor-pointer">
    <a class="project_access" href=""></a>
    <div class="project_artwork" aria-hidden="true">
      <video playsinline loop
        ><source
          src="https://lau.work/assets/design-work/balance/app/balance-bip-full.webm"
          type="video/webm"
        /><source
          src="https://lau.work/assets/design-work/balance/app/balance-bip-full.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="project_info">
      <span class="text-gray-400 text-sm">Since 2023</span>
      <h3 class="text-gray-100">Nephron — Medical system managment</h3>
    </div>
  </article>
</section>
