<!-- <template>
    <Header />
    <main class="mx-auto max-w-7xl">
      <div class="relative grid grid-cols-2 gap-10">
        <div class="flex flex-col gap-8">
          <img src="@/assets/img/projects/example.png" />
          <img src="@/assets/img/projects/example.png" />
          <img src="@/assets/img/projects/example.png" />
          <img src="@/assets/img/projects/example.png" />
          <img src="@/assets/img/projects/example.png" />
          <img src="@/assets/img/projects/example.png" />
        </div>
        <div class="project-detail">
          <h1 class="my-5 text-4xl font-semibold text-left text-white">
            Amber.pet
          </h1>
          <p class="my-4 text-lg text-left text-white font-extralight">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
            nesciunt neque dolore amet nihil accusamus. Illo voluptas a, rem nemo,
            doloremque veniam minus quo asperiores cumque, quaerat voluptatibus
            rerum ducimus. rerum ducimus. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquid nesciunt neque dolore amet nihil accusamus.
            Illo voluptas a, rem nemo, doloremque veniam minus quo asperiores
            cumque, quaerat voluptatibus rerum ducimus.
          </p>
          <div class="flex flex-col items-start justify-start">
            <a class="text-lg text-blue-500 cursor-pointer" href="">View Site</a>
            <a class="text-lg text-blue-500 cursor-pointer" href="">View Site</a>
          </div>
  
          <div class="grid grid-cols-2 gap-10 mt-20">
            <div class="flex flex-col">
              <span class="font-medium" style="color: #a9a9a9">
                Release date
              </span>
              <span class="text-white">Abril 2021</span>
            </div>
            <div class="flex flex-col">
              <span class="font-medium" style="color: #a9a9a9">
                Release date
              </span>
              <span class="text-white">Abril 2021</span>
            </div>
            <div class="flex flex-col">
              <span class="font-medium" style="color: #a9a9a9">
                Release date
              </span>
              <span class="text-white">Abril 2021</span>
            </div>
            <div class="flex flex-col">
              <span class="font-medium" style="color: #a9a9a9">
                Release date
              </span>
              <span class="text-white">Abril 2021</span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </template>
  
  <script setup>
  import { Icon } from "@iconify/vue";
  import Header from "@/components/Header.vue";
  </script>
  
  <style>
  .project-grid-item {
    cursor: pointer;
    /* background-image: url("@/assets/img/projects/example.png"); */
  }
  .project-detail {
    position: sticky;
    top: 0;
    height: 100vh;
  }
  </style>
   -->