---
interface Props {
  company: string;
}

import { Icon } from "astro-icon";

const { company } = Astro.props;
---

<template>
  {
    company === "apside" ?? (
      <ul class="list-disc">
        <li>
          Mejoré y desarrollé nuevas funcionalidades en varios micro frontends
          utilizando Vue.js y utilizando Vuex para administrar el estado de la
          aplicación y Axios para realizar solicitudes a la API, garantizando la
          escalabilidad y el rendimiento de distintos sistemas de un cliente
          bancario.
        </li>
        <li>
          Implementé diseños de interfaces de usuario en colaboración con el
          equipo de diseño, utilizando componentes reutilizables y técnicas de
          diseño responsive, para garantizar una interfaz visualmente atractiva
          y fácil de usar.
        </li>
        <li>
          Desarrollé y mejoré proyectos basados en arquitectura de microservicio
          y BFF con Python y NestJS.
        </li>
        <li>
          Desarrollé nuevas características para sistemas de cliente banco
          chileno construido en Angular y AngularJS
        </li>
        <li>
          Mantenimiento de distintos microservicios Java y Python con Legacy
          Code e implementación de nuevas características.
        </li>
      </ul>
    )
  }
  {
    company === "pckz" ?? (
      <ul class="list-disc">
        <li>Pckz</li>
      </ul>
    )
  }
  {
    company === "anglo_american" ?? (
      <ul class="list-disc">
        <li>Pckz</li>
      </ul>
    )
  }
</template>
